node_modules/
dist/
android/
www/
.idea/
.vscode/
*.log
.DS_Store
package-lock.json
capacitor.config.ts
manifest.json
service-worker.js
main.js
preload.js
icon.png
index.html
index.css
js/
# Only need the web files for GH Pages
